= render 'shared/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header__box
      .chat-main__header__box__name test-group
      .chat-main__header__box__members member: yutaro
    .chat-main__header__edit
      = link_to root_path do
        .chat-main__header__edit__text Edit
  .chat-main__messages
    = render partial: 'message', collection: @messages
  .chat-main__form
    =form_for [@group, @message], html: {class: 'chat-main__form__new-message'} do |f|
      .chat-main__form__new-message__input-box
        = f.text_field :content, class: 'chat-main__form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__new-message__input-box__image' do
          = fa_icon 'picture-o', class: 'chat-main__form__new-message__input-box__image__icon'
          = f.file_field :image, class: 'chat-main__form__new-message__input-box__image__file'
      = f.submit 'Send', class: 'chat-main__form__new-message__send-btn'
